 
        
            <div class="card m-2" >
                <div class="rounded  fuel_card">
                    <img class="  h-100  rounded ms-2 mt-2"   src="{% static 'img/ayoqsh.png' %}" alt="">
                    <div class="">
                        <center><p class=" fw-bold fs-4   font-monospace ">AYOQSH</p></center>
                        <p class="ms-4 me-2  fw-medium ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, tenetur.</p>
                    </div>
                 </div>
                    <div class="ms-2 mt-5">
                        <a href="#" class=" text-bg-light"><p class="  fw-bold"><i class="fa-solid fa-gas-pump"></i> :  AI-80 <i class="fa-sharp fa-solid fa-money-check-dollar ms-5"> : {{ f.fuel1 }} SO'M</i></p></a>
                        <a href="#" class=" text-bg-light"><p class="  fw-bold"><i class="fa-solid fa-gas-pump"></i> :  AI-80 <i class="fa-sharp fa-solid fa-money-check-dollar ms-5"> : {{ f.feul2 }} SO'M</i></p></a>
                        <a href="#" class=" text-bg-light"><p class="  fw-bold"><i class="fa-solid fa-gas-pump"></i> :  AI-80 <i class="fa-sharp fa-solid fa-money-check-dollar ms-5"> : {{ f.feul3 }} SO'M</i></p></a>
                        <a href="#" class=" text-bg-light"><p class="  fw-bold"><i class="fa-solid fa-gas-pump"></i> :  AI-80 <i class="fa-sharp fa-solid fa-money-check-dollar ms-5"> : {{ f.feul4 }} SO'M</i></p></a>
                    </div>
                    <center>
                        <button class="btn btn-warning w-50  w-lg-25 mt-3 mb-3"> Read more</button>  
                    </center>                 
        </div> 


        