{% extends 'main/base.html' %}
{% load static %}

{% block tittle %}
AYOQSH
{% endblock %}


{% block content %}

    <div class="container">

        <div class="d-lg-flex d-block">

           {% for f in fuel_list %}
           <div class="card m-2" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <div class="  rounded d-flex ">
                <img class="  h-100  rounded ms-2 mt-2" style="width: 40%;"  src="{% static 'img/ayoqsh.png' %}" alt="">
                <div class="">
                    <p class="ms-5 mt-2 fw-bold fs-4   font-monospace ">{{ f.company_name }}</p>
                    <p class="ms-4  fw-medium ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, tenetur.</p>
                </div>
            </div>
                
            <center class=" mb-4">
                <button class="btn btn-warning  mt-4 w-25"><a href="{{ f.get_absolute_url }}">Read more</a></button>
            </center>
            </div>
            {% endfor %}

                          
                
        </div>
       


        <iframe data-aos="zoom-in" class="w-100 mt-5 " style="height: 400px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48426.049077491465!2d72.19862886542494!3d40.66012841025954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bc8e7780f2771f%3A0x8b87e914ee597fb6!2z0JDRgdCw0LrQsCwg0KPQt9Cx0LXQutC40YHRgtCw0L0!5e0!3m2!1sru!2s!4v1681023101427!5m2!1sru!2s"   allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <br><br>

{% endblock %}
